.feedContainer {
    padding-bottom: 60px;
    background-color: $branco;
    margin-top: 36px;

    .postagem {
        margin-top: 16px;

        .headerPostagem {
            display: flex;
            align-items: center;
            padding: 0 12px;
            margin-bottom: 8px;

            .avatar {
                height: 32px;
                width: 32px;
                margin-right: 8px;
            }

            strong {
                font-size: 12px;
                color: $cinza4;
            }
        }

        .fotoDaPostagem {
            img {
                width: 100%;
                height: auto;
                max-height: 360px;
                object-fit: cover;
            }
        }

        .rodapeDaPostagem {
            
            padding: 5px 16px;
            width: 100%;

            .descricaoDaPostagem {
                margin-top: auto;
                margin-bottom: 12px;
                color: $cinza4;
            }

            strong.nomeUsuario {
                font-size: 12px;
                float: left;
                margin-right: 4px;

            }

            p.descricao {
                display: flex;
                font-size: 12px;
                margin: 0 0 2px;

                .descricaoCompleta {
                    font-size: 14px;
                    color: $corPrimaria3;
                    cursor: pointer;
                    margin-right: 25px;
                }
            }

            .acoesDaPostagem {
                align-items: center;
                margin-bottom: 8px;
                color: $cinza4;
                cursor: pointer;
                >span {
                    margin-right: 12px !important;
                    color: $cinza4;
                }
                
            }

            .quantidadedeCurtidas {
                font-family: $fontLight;
                font-size: 10px;
                color: $cinza4;

                strong {
                    font-size: 10px;
                    color: $cinza4;
                }
            }
        }

        .containerFazerComentario {
            display: flex;
            align-items: center;
            padding: 0 12px;
            margin-bottom: 16px;

            textarea {
                resize: none;
                flex: 1;
                width: 100%;
                border: none;
                outline: none;
                font-size: 12px;
                color: $cinza2;

            }
        }


        @media screen and (min-width:$desktopBreakpoint) {
            padding-top: 8px;

            .postagem {
                .avatar {
                    width: 42px;
                    height: 42px;
                }

            }

            .containerFazerComentario {
                margin-top: 10px;

                .btnPublicacao {
                    background-color: transparent;
                    color: $corPrimaria;
                    outline: none;
                    border: none;
                    font-size: 12px;
                    cursor: pointer
                }
            }
        }
    }
}