.cabecalhoHeader {
    border-bottom: 0.5px solid $cinza1;

    .contudoCabecalhoPrincipal {
        display: flex;
        padding: 8px 16px;

        .logoCabecalhopricipal {
            position: relative;
            width: 135px;
            height: 30px;

        }

        .barraPesquisa {
            position: relative;
            flex: 1;
            margin-left: 16px;
            display: flex;
            align-items: center;


            .containerImagemLupa {
                position: absolute;
                width: 20px;
                height: 20px;
                left: 8px;
            }

            input {
                background-color: $corPrimaria4;
                border: none;
                outline: none;
                font-size: 12px;
                padding: 8px 8px 8px 36px;
                font-family: $fontLight;
                border-radius: 4px;
                color: $corPrimaria;

                &:focus{
                    border: 1px solid $corPrimaria;
                }

            }

        }
    }
    
    @media screen and (min-width: $desktopBreakpoint) {
        background-color: $branco;
        border: none;
    }
}