@import 'variaveis.scss';

* {
  font-family: $fontRegular;
  font-size: 14px;
}

html, body, #_next{
  height: 100%;
  margin: 0;

}

.avatar {
  border-radius: 50%;
  object-fit: cover;
}

.oculto {
  display: none;
}



@import'../public/fonts/fonts.scss';
@import '../componentes/botao/botao.scss';
@import './paginaPublica.scss';