@import 'variaveis.scss';

* {
  font-family: $fontRegular;
  font-size: 14px;
}

html,
body,
#__next {
  height: 100%;
  margin: 0;

}

.avatar {
  border-radius: 80%;
  width: 110px;
  height: 110px;
  object-fit: contain; 
  object-fit:cover;
  
}

.paginaEditarPerfil {
  background-color:$branco;

  .conteudoPaginaEditarPerfil {
    margin-bottom: 30px;
      .edicaoAvatar {
          margin: 16px 0px;
          text-align: center;
          cursor: pointer;

          .avatar {
            border-radius: 80%;
            width: 110px;
            height: 110px;
            object-fit: contain; 
            object-fit:cover;
            
          }
          
          

          span {
              font-size: 12px;
              color: $corPrimaria;
              text-decoration: underline;
          }
      }

      .edicaoNome {
          margin: 16px 0px;
          display: flex;
          align-items: center;
          padding: 0px 16px;

          label {
              color: $cinza3;
          }

          input {
              flex: 1;
              border: none;
              outline: none;
              padding: 0px 16px;
              color: $cinza4;
          }
      }
  }

  @media screen and (min-width: $desktopBreakpoint) {
      display: flex;
      height: 100%;
      flex-direction: column;

      .conteudoPaginaEditarPerfil {
          flex: 1;

          .edicaoAvatar {
              .avatar {
                  width: 160px;
                  height: 160px;
              }

              span {
                  font-size: 14px;
              }
          }
      }
  }
}


/* styles.css */
.paginaPerfil {
  .cabecalhoPerfil {
      background-color: $branco;
      .statusPerfil {
          display: flex;
          align-items: center;
          padding: 18px 18px 30px;

          .avatar {
              height: 70px;
              width: 70px;
              margin-right: 24px;

              border: solid 3px transparent;
              background-image: linear-gradient(to bottom, white, white), radial-gradient(circle at top center, $corPrimaria,$corPrimaria3);
              background-origin: border-box;
              background-clip: content-box, border-box;
          }
      
          .informacoesPerfil {
              flex: 1;
              display: flex;
              flex-direction: column;

              .btn {
                  margin-top: 12px;
                  padding: 6px;
                  font-size: 12px;
                  border-radius: 4px;
              }

              .statusContainer {
                  display: flex;
                  justify-content: space-around;

                  .status {
                      text-align: center;

                      > strong {
                          font-size: 14px;
                          display: block;
                      }

                      > span {
                          font-size: 12px;
                          display: block;
                      }
                  }
              }
          }
      }
  }

  @media screen and (min-width: $desktopBreakpoint) {
  .cabecalhoComAcoes {
      margin-top: 35px; 
  }
    
    .cabecalhoPerfil {
          .cabecalhoComAcoes {
              > span {
                  display: none !important;
              }
          }
          
          .statusPerfil {
              .avatar {
                  width: 90px;
                  height: 90px;
              }

              .informacoesPerfil {
                  .btn {
                      padding: 8px;
                  }
              }
          }
      }

  }
}


.oculto {
  display: none;
}

input {
  &::placeholder {
    /*navegadores suportados (chrome, opera, safari e firefox)*/
    color: $cinza2;
    opacity: 1;
  }

  &:-ms-input-placeholder {
    /*Internet Explorer 10-11*/
    color: $cinza2;
  }

  &::-ms-input-placeholder {
    color: $cinza2;
  }
}

.desktop {
  @media screen and (min-width: $desktopBreakpoint) {
    display: block;
  }

  @media screen and (max-width: calc(#{$desktopBreakpoint} - 1px)) {
    display: none;
  }
}

.mobile {
  @media screen and (min-width: $desktopBreakpoint) {
    display: none;
  }

  @media screen and (max-width: calc(#{$desktopBreakpoint} - 1px)) {
    display: block;
  }
}

.mensagemValidacao {
  display: block;
  color: red;
  font-size: 90%;
  margin-top: -15px;
  margin-bottom: 15px;
}

.barraNavegacao {
  ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin-top: 10px 0px;


    li {
      list-style: none;
      cursor: pointer;

    }
  }
}

strong {
  font-family: $fontBold;
}

body {
  @media screen and (min-width:$desktopBreakpoint) {
    background-color: $cinza5;
    background-image: url("/imagens/imagemDeFundoDesktop.svg");
  }
}

.largura30pctDesktop{
  @media screen and (min-width:$desktopBreakpoint) {
    width: 30%;
    margin: auto;
  }
}

.linhaDivisoria{
    margin: 0;
    border: none;
    background-color: $cinza1;
    height: 1px;

  @media screen and (min-width: desktopBreakpoint){
    margin: 0 auto;    
    width: 94%;
  };
}

@import'../public/fonts/fonts.scss';
@import '../componentes/botao/botao.scss';
@import './paginaPublica.scss';
@import '../componentes/inputPublico/inputPublico.scss';
@import '../pages/cadastro/cadastro.scss';
@import '../componentes/layout/header.scss';
@import '../componentes/layout/rodape.scss';
@import '../componentes/feed/feed.scss';
@import '../componentes/cabecalhoComAcoes/cabecalhoComAcoes.scss'; 