.paginaPublica { display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
    padding: 0 32px;

    .logoContainer {
        position: relative;
        height: 100%;
        width: 13%;
        margin-bottom: 50px;
    }

}