.paginaPublica {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    



    .logoContainer {
        position: relative;
        width: 50%;
        height: 250px;
    }

}